# Configuration de la base de données
POSTGRES_USER=ton_utilisateur
POSTGRES_PASSWORD=ton_mot_de_passe
POSTGRES_DB=nfc_tags
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configuration du serveur
PORT=3000